
<section id="wrapper" class="group">
  <article class="page">
    <header>
      <h2 class="headline"><%= @page.title %></a></h2>
    </header>

    <section id="page-body">
      <%=raw @page.body %>
    </section>
    <hr>
  </article>
</section>
