<% if current_user %>
<footer class="main-footer">
  <div class="pull-right hidden-xs">
    Enjoy the rest of your <b><%= Date::DAYNAMES[Date.today.wday] %> !</b>
  </div>

  <strong>Loong Ta: Blog management application was created with love by <a href="http://github.com/vajradog">@vajradog</a></strong>
</footer>
<% end %>
